@import url("https://fonts.googleapis.com/css?family=Public+Sans:300,400,500,600,700,800&display=swap");
/* Theme Colors */
/* Fonts */
/* Body */
body {
  margin: 0;
  background: white;
  font-size: 18px;
  font-family: "Public Sans", sans-serif; }

/* Navbar Area */
.navbar {
  display: grid;
  background: white;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 7vh;
  position: relative;
  z-index: 1; }

.navbar__logo {
  justify-content: center;
  align-items: center;
  display: grid; }

.navbar__nav {
  justify-content: center;
  align-items: center;
  display: grid; }

.navbar__nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.navbar__nav li {
  display: inline; }

.navbar__nav a {
  font-family: "Public Sans", sans-serif;
  padding: 8px;
  color: #9698a6;
  text-decoration: none;
  font-size: 0.8rem; }

/* Jumbotron Area */
.jumbotron {
  display: grid;
  background: #fafafa;
  grid-template-columns: 1fr 54%;
  grid-auto-rows: 76vh;
  position: relative;
  z-index: 0; }

.jumbotron__blurb {
  padding: 9rem 6rem; }

.jumbotron h1 {
  font-size: 3.5rem;
  line-height: 4rem;
  color: #2d314d;
  font-weight: 300; }

.jumbotron p {
  font-size: 1rem;
  color: #9698a6;
  font-weight: 300;
  line-height: 1.5rem; }

.jumbotron__button {
  border-radius: 50px;
  background: #31d35c;
  background: linear-gradient(351deg, #31d35c 0%, #2bb7da 100%);
  color: white;
  font-size: 0.7rem;
  padding: 0.7rem;
  border: none;
  width: 155px;
  margin-top: 1rem; }

.jumbotron__splash {
  background: url("file:///Users/sydneehaley/Desktop/Landing-Page-Design/images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-position: left 0 bottom -2px;
  position: relative;
  z-index: 0; }

.jumbotron__splash img {
  top: -118px;
  left: 134px;
  position: relative;
  z-index: 0; }

.section__expertise {
  display: grid;
  justify-content: center;
  align-content: center;
  background: #f3f4f6;
  grid-template-columns: 1fr;
  grid-auto-rows: 25vh 1fr;
  padding: 3rem 8rem; }

.section__expertise--blurb {
  padding-right: 1rem; }

.section__expertise--blurb h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  color: #2d314d;
  font-weight: 300; }

.section__expertise--blurb p {
  font-size: 1rem;
  color: #9698a6;
  font-weight: 300;
  line-height: 1.5rem;
  padding-right: 38rem; }

.section__expertise--cardcontainer {
  display: grid;
  background: #f3f4f6;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2rem; }

.section__expertise--cards_style img {
  margin-bottom: 1rem; }

.section__expertise--cards_style h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #2d314d;
  font-weight: 300;
  text-align: left; }

.section__expertise--cards_style p {
  font-size: 0.8rem;
  color: #9698a6;
  font-weight: 300;
  line-height: 1.4rem;
  padding-right: 14%; }

.section__articles {
  display: grid;
  justify-content: center;
  align-content: center;
  background: #fafafa;
  grid-template-columns: 1fr;
  grid-auto-rows: 10vh 1fr;
  padding: 6rem 8rem; }

.section__articles--blurb {
  padding: 0; }

.section__articles--blurb h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  color: #2d314d;
  font-weight: 300;
  margin: 0 0; }

.section__articles--cardcontainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem; }

.section__articles--cardcontainer__style {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: 1fr 1fr;
  grid-auto-rows: 1fr 1fr;
  background: white;
  border-radius: 7px; }

.section__articles--cardcontainer__style--img__1 {
  width: 100%;
  background: url("file:///Users/sydneehaley/Desktop/Landing-Page-Design/images/image-currency.jpg");
  background-size: cover;
  background-position: center;
  height: 221px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px; }

.section__articles--cardcontainer__style--img__2 {
  width: 100%;
  background: url("file:///Users/sydneehaley/Desktop/Landing-Page-Design/images/image-restaurant.jpg");
  background-size: cover;
  background-position: center;
  height: 221px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px; }

.section__articles--cardcontainer__style--img__3 {
  width: 100%;
  background: url("file:///Users/sydneehaley/Desktop/Landing-Page-Design/images/image-plane.jpg");
  background-size: cover;
  background-position: center;
  height: 221px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px; }

.section__articles--cardcontainer__style--img__4 {
  width: 100%;
  background: url("file:///Users/sydneehaley/Desktop/Landing-Page-Design/images/image-confetti.jpg");
  background-size: cover;
  background-position: center;
  height: 221px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px; }

.section__articles--cardcontainer__style--blurb h4 {
  font-size: 1rem;
  line-height: 1.2rem;
  color: #2d314d;
  font-weight: 400;
  text-align: left; }

.section__articles--cardcontainer__style--blurb {
  font-size: 0.8rem;
  color: #9698a6;
  font-weight: 300;
  line-height: 1.4rem;
  padding-right: 14%;
  padding-left: 1.5rem; }

.section__articles--cardcontainer__style--blurb span {
  font-size: 0.7rem;
  color: #9698a6;
  font-weight: 400;
  display: block;
  line-height: 0.4rem;
  padding-right: 14%; }

.footer {
  background: #2d314d;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 17vh;
  color: white; }

.footer__column1 {
  justify-content: center;
  align-content: center;
  display: grid;
  grid-template-rows: 1fr 1fr; }

.footer__column1--logo {
  display: block;
  padding-top: 2rem; }

.footer__column1--social {
  margin-top: 1rem;
  display: inline; }

.footer__footmapnav {
  justify-content: center;
  align-content: center;
  display: grid;
  grid-template-columns: 11vw 11vw; }

.footer__footmapnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  line-height: 1.5rem; }

.footer__footmapnav li {
  display: block; }

.footer_buttoncopyright {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 10vh 2vh; }

.footer_buttoncopyright p {
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: #9698a6; }
